@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

/* Sekcja ogólnych zmiennych w :root */
:root {
    --main-color: #ff6f61;          /* Akcent */
    --second-color: #b86550;        /* Ciemniejszy brąz */
    --third-color: #644C2C;         /* Brązowy */
    --fourth-color: #392414;        /* Bardzo ciemny brąz */
    --fifth-color: #1F232C;         /* Ciemny granat */
    --sixth-color: #e7a891;         /* Beżowy akcent */
    --black: #13131a;               /* Czarny */
    --bg: #ffffff;                  /* Jasne tło */
    --text-color: #000;           /* Tekst czarny */
    --header-bg: linear-gradient(to right, #4e342e, #6d4c41); /* Tło nagłówka */
    --header-text: #ffffff;         /* Kolor tekstu nagłówka w jasnym motywie */
    --header-icon: #ffffff;         /* Ikony nagłówka w jasnym motywie */
    --border: .1rem solid rgba(0, 0, 0, .3); /* Obramowanie */
    --product-title-color: #000000;
}

/* Ciemny motyw */
body.dark-mode {
    --bg: #333333;                /* Tło w ciemnym motywie */
    --text-color: #e7e7e7;         /* Jaśniejszy tekst w ciemnym motywie */
    --main-color: #9F5C44;         /* Akcent w ciemnym motywie */
    --second-color: #64342C;       /* Ciemniejszy brąz w ciemnym motywie */
    --fifth-color: #222222;        /* Ciemny granat w ciemnym motywie */
    --header-bg: linear-gradient(to right, #2c1a13, #3e2c1f); /* Tło nagłówka w ciemnym motywie */
    --header-text: #ffffff;        /* Tekst nagłówka w ciemnym motywie */
    --header-icon: #ffffff;        /* Ikony nagłówka w ciemnym motywie */
    --product-title-color: #ffffff;
}


/* Tło w całym body */
body {
    background-color: var(--bg);  /* Użycie zmiennej --bg do tła */
    color: var(--text-color);     /* Kolor tekstu */
    transition: all 0.3s ease;    /* Płynne przejście przy zmianie motywu */
}

#theme-toggle {
    font-size: 2rem;
    cursor: pointer;
    margin-left: 1.5rem;
    color: var(--text-color);
}

/* Sekcje */
.review .box-container .box, .contact .row, .footer {
    background-color: var(--bg);
    color: var(--text-color);
}

body.dark-mode .review .box-container .box {
    background-color: var(--fifth-color);
}

body.dark-mode .contact .row {
    background-color: var(--fifth-color);
}

body.dark-mode .footer {
    background-color: var(--fourth-color);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem; 
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}


section {
    padding: 2rem 7%;
}


/* HEADER SECTION */
.header {
    background: var(--header-bg); /* Tło nagłówka z gradientem */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Subtelny cień */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.img-logo {
    width: 100px;
    height: 100px;
}

/* Linki w nawigacji */
.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--header-text); /* Kolor tekstu nagłówka */
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: var(--header-icon); /* Kolor ikon nagłówka */
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header .cart {
    position: absolute;
    top: 100%;
    right: -100%; /* Domyślnie ukryty po prawej stronie */
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background-color: #fff;
    padding: 0 1.5rem;
}

.header .cart.active {
    right: 0; /* Po dodaniu klasy 'active' wysuwa się na ekran */
}

html {
    scroll-behavior: smooth; /* Płynne przewijanie */
}


mark {
    background-color: yellow; /* Tło */
    color: inherit;           /* Zachowaj oryginalny kolor */
    font-weight: bold;        /* Pogrubienie dla czytelności */
    padding: 2px 4px;         /* Wyróżnienie */
    border-radius: 4px;       /* Zaokrąglenie */
}


.header .cart .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart .cart-item img {
    height: 7rem;
}

.header .cart .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}
 
.header .cart .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: var(--text-color); /* Dynamiczny kolor zależny od motywu */
    background-color: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
    background-color: var(--main-color);
}

.header .cart .btn {
    width: 100%;
    text-align: center;
}


.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid white;
  white-space: nowrap;
  animation: typing 4s steps(30) 1, blink 0.5s step-end infinite;
  color: white; /* Kolor tekstu */
  font-size: 4rem;
}

.delay {
  animation-delay: 4s; /* Opóźnienie o 4 sekundy po pierwszej animacji */
  animation: typing 4s steps(20) 1, blink 0.5s step-end infinite;
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid white;
  white-space: nowrap;
  color: white;
}


@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}




.parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  width: 100%; /* Upewnij się, że sekcja zajmuje całą szerokość */
  background: var(--fifth-color); /* Ciemne tło dla kontrastu */
}




/* CART SECTION */

.cart-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1.5rem;
    color: #000;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #000; 
}

.cart-price {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--main-color); /* Akcentowy kolor dla ceny */
}

.cart-quantity {
    border: 1px solid var(--black);
    outline-color: var(--main-color);
    width: 5rem;
    text-align: center;
    font-size: 2rem;
}

.cart-remove {
    font-size: 2rem;
    color: var(--main-color);
    cursor: pointer;
}

.cart-remove:hover {
    color: var(--second-color);
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #000; /* Czarna linia */
}

.total-title {
    font-size: 2rem;
    color: #000;
}

.total-price {
    font-size: 2rem;
    margin-left: 0.5rem;
    color: var(--main-color); /* Akcentowy kolor dla ceny całkowitej */
}

.btn-buy {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff; /* Tekst zawsze biały */
    background-color: var(--main-color);
    cursor: pointer;
}

.btn-buy:hover {
    letter-spacing: .2rem;
    background-color: var(--second-color); /* Lekko ciemniejszy akcent */
}



/* HERO SECTION */

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://jakubsobon.pl/zasoby/zdjecia/tlo.png') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}

.home .content {
    max-width: 60rem;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.7); /* Półprzezroczyste tło */
    border-radius: 10px;
    color: #fff; /* Biały kolor tekstu */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); /* Cień dla głębi */
}

.home .content h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Cień dla większego kontrastu */
}

.home .content p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.home .content .btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    color: var(--text-color); /* Dynamiczny kolor zależny od motywu */
    background: #e85d04;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background 0.3s ease;
}

.home .content .btn:hover {
    background: #ff6f00;
}



/* ABOUT SECTION */


.heading {
    text-align: center;
    color: var(--text-color); /* Dynamiczny kolor zależny od motywu */
    text-transform: uppercase;
    padding-bottom: 50px;
    font-size: 4rem;
    margin-top: 50px;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.about .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: var(--text-color); /* Dynamiczny kolor zależny od motywu */
}

.about .row .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}


/*ZEPSUJMY COS*/

.recent-orders {
    padding: 50px 0;
    background-color: #000000;
}

.recent-orders .heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;
}

.recent-orders .heading span {
    color: #ff6f61; /* Akcentowy kolor */
}

.order-card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.order-card .card-body {
    padding: 20px;
}

.order-card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.order-card .btn-dark {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: var(--text-color); /* Dynamiczny kolor zależny od motywu */
    padding: 8px 15px;
    transition: background-color 0.3s;
}

.order-card .btn-dark:hover {
    background-color: #555;
}


/* MENU SECTION */

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 2rem;
    text-align: center;
    border: var(--border); /* Obramowanie */
    background-color: var(--bg); /* Tło dla jasnego motywu */
    color: var(--text-color);  /* Kolor tekstu */
    transition: background-color 0.3s ease;  /* Płynne przejście tła */
}

.menu .box-container .box .product-title {
    color: var(--product-title-color);  /* Kolor tekstu zmienia się zgodnie z motywem */
    font-size: 2rem;
    padding: 1rem 0;
}



.menu .box-container .box img {
    height: 10rem;
    width: auto;
}

.menu .box-container .box h3 {
    color: var(--header-text);  /* Kolor tekstu nagłówka */
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: var(--main-color);  /* Akcentowy kolor dla ceny */
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover {
    background-color: var(--main-color);  /* Zmiana tła przy najechaniu */
}
.menu .box-container .box:hover > * {
    color: #fff;  /* Kolor tekstu na biały przy najechaniu */
}

/* Ulepszenia przycisku */
.menu .box-container .box .btn {
    background-color: var(--main-color);
    color: var(--text-color); /* Dynamiczny kolor zależny od motywu */
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu .box-container .box .btn:hover {
    background-color: #333;
}

/* BLOGS SECTION */


.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    border: var(--border);
}

.blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img {
    transform: scale(1.2);
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--text-color); /* Dynamiczny kolor zależny od motywu */
}

.blogs .box-container .box .content .title:hover {
    color: var(--main-color);
}

.blogs .box-container .box span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--main-color);
    padding: 1rem 0;
}


/* TESTIMONIALS SECTION */


.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--main-color);
    padding: 2rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--text-color); /* Dynamiczny kolor zależny od motywu */
}

.review .box-container .box .stars i {
    font-size: 1.5rem;
    color: var(--main-color);
}


/* CONTACT US SECTION */

.contact .row {
    display: flex;
    background-color: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

#map {
    height: 550px;
    width: 100%;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: var(--text-color); /* Dynamiczny kolor zależny od motywu */
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputBox span {
    color: var(--text-color); /* Dynamiczny kolor zależny od motywu */
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: var(--text-color); /* Dynamiczny kolor zależny od motywu */
    text-transform: none;
    background: none;
}

.contact .row form .inputBox textarea {
    width: 100%;
    height: 200px;
    padding: 2rem;
    font-size: 1.7rem;
    color: var(--text-color); /* Dynamiczny kolor zależny od motywu */
    text-transform: none;
    background: none;
}

/* FOOTER SECTION */




.footer {
    background-color: var(--black);
    /*text-align: center;*/
    padding: 30px
}

.footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .logo img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.footer .logo h3 {
    font-size: 4rem;
    color: var(--main-color);
}

.footer .logo i {
    font-size: 2rem;
    color: var(--main-color);
    margin-right: 5px;
    margin-top: 1rem;
}

.footer .logo p {
    display: inline-block;
    margin: 0;
    font-size: 1.5rem;
    color: var(--main-color);
    vertical-align: middle;
    text-transform: none;
}

.footer .support, 
.footer .company,
.footer .newsletters  {
    flex: 0 0 calc(25% - 30px);
}

.footer .support h2, 
.footer .company h2,
.footer .newsletters h2  {
    font-size: 2.5rem;
    color: #333;
}

.footer .support a, 
.footer .company a,
.footer .newsletters a  {
    display: block;
    margin-bottom: 8px;
    color: #666;
    text-decoration: none;
    font-size: 1.7rem;
}

.footer .support a:hover, 
.footer .company a:hover,
.footer .newsletters a:hover  {
    color: var(--main-color);
}

.footer .newsletters p {
    width: 100%;
    margin-bottom: 1rem;
    color: #666;
    font-size: 1.7rem;
}

.footer .newsletter {
    width: 100%;
    border-radius: 2.5rem;
    padding: 1.8rem;
    padding-right: 50px; /* Dodatkowy padding, aby zostawić miejsce na strzałkę */
    color: var(--text-color); /* Dynamiczny kolor zależny od motywu */
    background-color: var(--main-color);
}

.newsletter::placeholder {
    color: #bdbdbd; /* Kolor placeholdera */
}

.footer .input-wrapper {
    position: relative;
}

.fas.fa-paper-plane {
    position: absolute;
    top: 50%;
    right: 20px; /* Dostosuj odległość od prawej krawędzi */
    transform: translateY(-50%);
    color: #ececec; /* Kolor strzałki */
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0; /* Usuń dodatkowe wypełnienie, które mogło przesunąć przycisk */
    line-height: 1; /* Wyrównaj wysokość tekstu wewnątrz przycisku */
}

.footer .credit {   
    font-size: 2rem;
    color: var(--text-color); /* Dynamiczny kolor zależny od motywu */
    font-weight: lighter;
    margin-top: 30px;
    padding: 1rem;
    flex: 0 0 100%;
    text-align: center;
}

.footer .credit h2 {
    font-weight: lighter;
    font-size: 1.7rem;
    margin-top: 1rem;
}

.footer .credit span {
    color: var(--main-color);
}

.footer .credit hr {
    color: var(--main-color);
}







/* MEDIA QUERIES */
@media (max-width:991px){
    html { 
        font-size: 55%; 
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px){
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0%;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

}

@media (max-width:450px){
    html { 
        font-size: 50%; 
    }
}


#paper-plane-icon {
    background: none;
    border: none;
    color: #fff; /* Kolor strzałki */
    cursor: pointer;
    font-size: 1.5rem;
}



.cart-counter {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    visibility: hidden; /* Ukryj licznik, gdy wartość wynosi 0 */
}

#cart-btn {
    position: relative; /* Aby licznik był pozycjonowany względem koszyka */
}

